{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <link href='https://fonts.googleapis.com/css?family=Squada+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>
    <title>Práctica Apache Thrift - Calculadora</title>
</head>
<body>
    <header>
        <h1>Prácticas DSD - Apache Thrift</h1>
        <h2>Autor: Miguel Ángel Benítez Alguacil</h2>
    </header>
    <main>
        <form action="calculate" method="post">
            {% csrf_token %}
            <section class="calculadora center">
                <section id="marca-pantalla">
                    <div id="marca">
                        <h2>TOPACHIO</h2>
                        <p>fx-82MS</p>
                    </div>
                    <div id="pantalla">
                        <input type="text" id="expresion" name="expresion" class="expresion" value="{{ expresion }}">
                        <p><input type="text" id="resultado" class="expresion" value="{{ resultado }}"></p>
                    </div>
                </section>
                <section id="modo">
                    <input type="button" value="MODO" class="boton modo">
                    <div class="selector">
                        <div class="row">
                            <input type="button" value="&#9651" id="up" class="boton">
                        </div>
                        <div class="row">
                            <input type="button" value="&#9665" id="left" class="boton">
                            <input type="button" value="&#9655" id="right" class="boton">
                        </div>
                        <div class="row">
                            <input type="button" value="&#9661" id="down" class="boton">
                        </div>
                    </div>
                    <input type="button" value="ON" class="boton modo">
                </section>
                <section id="op-basicas">
                    <div class="row">
                        <input type="button" value="(" class="boton" onclick="addElement('(')">
                        <input type="button" value=")" class="boton" onclick="addElement(')')">
                        <input type="button" value="!" class="boton" onclick="addElement('!')">
                        <input type="button" value="sin&sup1;" class="boton" onclick="addElement('sin&sup1;')">
                        <input type="button" value="cos&sup1;" class="boton" onclick="addElement('cos&sup1;')">
                        <input type="button" value="tan&sup1;" class="boton" onclick="addElement('tan&sup1;')">
                    </div>
                    <div class="row">
                        <input type="button" value="x&#178" class="boton" onclick="addElement('^2')">
                        <input type="button" value="^" class="boton" onclick="addElement('^')">
                        <input type="button" value="&radic;" class="boton" onclick="addElement('&radic;')">
                        <input type="button" value="sin" class="boton" onclick="addElement('sin')">
                        <input type="button" value="cos" class="boton" onclick="addElement('cos')">
                        <input type="button" value="tan" class="boton" onclick="addElement('tan')">
                    </div>
                </section>
                <section id="comun">
                    <div class="row">
                        <input type="button" value="7" class="boton" onclick="addElement(7)">
                        <input type="button" value="8" class="boton" onclick="addElement(8)">
                        <input type="button" value="9" class="boton" onclick="addElement(9)">
                        <input type="button" value="DEL" class="boton borrar" onclick="popElement()">
                        <input type="button" value="AC" class="boton borrar" onclick="erase()">
                    </div>
                    <div class="row">
                        <input type="button" value="4" class="boton" onclick="addElement(4)">
                        <input type="button" value="5" class="boton" onclick="addElement(5)">
                        <input type="button" value="6" class="boton" onclick="addElement(6)">
                        <input type="button" value="x" class="boton" onclick="addElement('x')">
                        <input type="button" value="&divide;" class="boton" onclick="addElement('/')">
                    </div>
                    <div class="row">
                        <input type="button" value="1" class="boton" onclick="addElement(1)">
                        <input type="button" value="2" class="boton" onclick="addElement(2)">
                        <input type="button" value="3" class="boton" onclick="addElement(3)">
                        <input type="button" value="+" class="boton" onclick="addElement('+')">
                        <input type="button" value="&minus;" class="boton" onclick="addElement('-')">
                    </div>
                    <div class="row">
                        <input type="button" value="0" class="boton" onclick="addElement(0)">
                        <input type="button" value="." class="boton" onclick="addElement('.')">
                        <input type="button" value="x10&#8319;" class="boton" onclick="addElement('x10^')">
                        <input type="submit" id="signo-igual" value="=" class="boton">
                    </div>
                </section>
            </section>
        </form>
    </main>
    <footer>
        <section id="errores">
            <p>{{ error }}</p>
        </section>
        <section id="explicacion">
            <h2>Cliente realizado en Django con HTML, CSS y JavaScript</h2>
            <h2>Servidor disponible en Python y Ruby</h2>
            <p>O. Trigonométricas: Python en radianes, Ruby en grados</p>
        </section>
    </footer>
</body>
</html>